<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Printing...</title>
</head>
<body>
<script th:inline="javascript">
    const receiptId = [[${receipt.receiptID}]];
    const win = window.open('/receipts/' + receiptId + '/print', '_blank', 'width=750,height=900');

    if (win) {
        win.addEventListener('load', function() {
            win.print();
        });
    }

    // Wait 1 second then redirect to dashboard
    setTimeout(function() {
        window.location.href = '/dashboard';
    }, 1000);
</script>
</body>
</html>